.window {
  width: 800px;
}

.contents {
  padding: 20px;
}

.wizard-panes {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 20px;
}

.image-well {
  overflow: hidden;
  width: 250px;
  height: 600px;
}

.wizard-img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 250px;
  height: 600px;
}

.page-container {
  padding: 0 20px;
}

.buttons {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-button {
  width: 100px;
}
